.travel-req__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: left;

}

.sign-in__wrapper form {
 width:26rem;
 max-width: 90%;
 z-index: 1;
}